
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
  
body {
    font-family: "Montserrat", sans-serif;
    width: 1440px;
}

.encabezado { /** contine todo el encabezado: logo, botón y login**/
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;  
  align-items: center;
}

.contenedor2{ /**palabra logo**/
  font-size: 24px;
}

a{/**enlace login**/
  text-decoration: none;
  width: 41px;
  height: 22px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.20000000298023224px;
  text-align: right;
  color: rgba(150, 187, 124, 1)
}
.boton{ /** contenedor de: boton y login**/
  font-family:"Montserrat", sans-serif ;
  background-color: rgba(255, 255, 255, 1);
  size: 14px;
  padding: 0px;
  display: flex;   
  justify-content: flex-end;
  align-items: baseline;
}
.boton1{ /** contenedor de: boton y login**/
  background-color: rgba(150, 187, 124, 1);
  text-align:center;
  color:rgba(255, 255, 255, 1);
  border: none;
  margin: 20px 80px;
  padding: 15px 25px 15px 25px;
  Size: 14px;
  width: 137px;
  height: 52px;
  white-space: nowrap;
}
.palabraLogo{
  width: 187px;
  height: 58px;
  top: 17px;
  left: 136px;
  padding: 13px 124px 13px 0px;
  gap: 10px;
  color: rgba(37, 43, 66, 1);
  size: 24px;
}
.cuerpoPrincipal{/** contenedor primera seccion */
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  height: 777px;
  width: 1440px;
  background-color: #DDF4FF;
}
.cuerpo {/** contenedor con dos cajas la de la imagen y la del texto**/
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
  align-items: flex-end;
  width: 1440px;
  height: 777px;
  padding: 95px 0px 0px 0px;
  gap: 40px;
}

.texto{
  width: 573px;
  height: 386px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 15px 90px;
}

.primerParrafo{
  size: 16px;
}
.textoGrande{ /* texto de mayor tamaño */
  font-size: 58px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: rgba(37, 43, 66, 1);
  width: 542px;
  height: 160px;
}
.segundoParrafo{
  size: 20;
}
.boton2{
  width: 193px;
  height: 52px;
  padding: 15px 40px 15px 40px;
  gap: 10px;
  border-radius: 5px 0px 0px 0px;
  background-color:rgba(150, 187, 124, 1);
  border: none;
  color: white;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  white-space: nowrap;
}
.boton3{
  width: 162px;
  height: 52px;
  padding: 15px 40px 15px 40px;
  gap: 10px;
  border-radius: 5px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  border: none;
  font-family: Montserrat;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: rgba(150, 187, 124, 1);
  white-space: nowrap;
}
.botones{ /* botones primera seccion*/
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.donut{ /* dona fondo de la imagen */
  width: 550px;
  height: 550px;
  position: absolute;
  transform: translate(-105%, -20px);
  border-radius: 70%;
  border: 100px solid #B8F0D7;
}
.contenedorImagen{  /* contenerdor de la imagen */
  align-items: end;
  display: flex;
  justify-content: flex-end;
}
.imagenNiña { /* estilos imagen niña con maleta */
  width: 300px;
  background-image: rgba(221, 244, 255, 1);
  width: 532.15px;
  height: auto;
  position: relative;
  left: 20%;
}
.singles{ /* estilos imagen singles */
  transform: translate(-650px, -300px);
  width: 162.35px;
  height: 81.88px;
  top: 237.18px;
  left: 66px;
}
.global{/* estilos imagen global */
  transform: translate(-250px, -180px);
  
  height: 183.53px;
  top: 278.12px;
  left: 544px;
  width: 196.24px;
}
.scores{ /* estilos imagen global scores*/
  transform: translate(-1000px, -70px);
  height: 149.65px;
  top: 483px;
  left: 101.65px;
  width: 218.82px;
}

.espacioImagen {   /* contenerdor de la imagen */
  background-color:rgba(221, 244, 255, 1) ;
  height: 682px;
  width: 704px;
}

p {color: rgba(150, 187, 124, 1);
}

.estadisticos{  /* contenerdor de todos los elementos de la segunda sección */
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  height: 264;
  flex-wrap: wrap;
  height: 100px;
  justify-content: space-evenly;
  justify-content: flex-center;
  text-align: center;
  width: 1440px;
}

h1{
  color:  rgba(150, 187, 124, 1);
  size: 58;
}

h5{
  color: rgba(37, 43, 66, 1);
  size: 24px; 
}
.educacion {  /* contenerdor de todos los elementos de la tercera sección */
  width: 1,050px;
  height: 718px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 120px;
  background: rgba(255, 242, 243, 1);
}
.cuadroContenedor{ /* contenerdor de tituloo y los icono de la tercera sección */
width: 1440px;
height: 718px;
display: flex;
flex-direction: column;
justify-content: space-evenly;
background: rgba(255, 242, 243, 1);
align-items: flex-start;
}

.subtitulo1,  .subtitulo3 {  /*subtitulos de la tercera sección */
  color: rgba(37, 43, 66, 1);
  size: 16px;
  padding: 12px 0px 0px 0px;
}
.subtitulo2{/*subtitulos de la tercera sección */
  color: rgba(37, 43, 66, 1);
  padding: 20px 0px 0px 0px;
  size: 16px;
}
p{
  Size:14px;
  line-height: 20px;
}

.contenedorIconos{ /* contenerdor iconos de la tercera sección */
  display: flex;
  height: 268px;
  justify-content: space-between;
  text-align: left;  
  width: 1045px;
}
.primerIcono {/* contenerdor icono de la maleta */
  background-color: white;
  height: 268px;
  padding: 35px 40px 35px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 328px;
}
 .segundoIcono { /* contenerdor icono de libro cerrado */
  background-color: white;
  display: flex;
  height: 268px;
  flex-direction: column;
  justify-content: space-evenly;
  width: 348px;
  padding: 35px 40px 35px 40px; 
}

.tercerIcono {/* contenerdor icono de libro abierto */
  background-color: white;
  height: 268px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;    
  padding: 35px 40px 35px 40px;
  width: 329px;
}

.primerIcono  img {/* icono de la maleta */
  width: 30%;
}

.segundoIcono img{ /*icono de libro cerrado */
  width: 20%;
}

.tercerIcono img{/*  icono de libro abierto */
  width: 25%;
}

.pseudoElemento1, .pseudoElemento2, .pseudoElemento3{ /* contenedor de la línea roja */
  height: 80px;
}

.pseudoElemento1::before{ /* primera línea roja */
  content:"";
  background-color: rgba(231, 64, 64, 1);
  width: 5%;
  height: 5px;
  left: 160px;
  position: absolute;
  bottom: -290px;
}
.pseudoElemento2::before{ /* segunda línea roja */
  content:"";
  background-color: rgba(231, 64, 64, 1);
  width: 5%;
  height: 5px;
  position: absolute;
  bottom: -290px;
  left: 505px;
}
.pseudoElemento3::before{ /* tercera línea roja */
  content:"";
  background-color: rgba(231, 64, 64, 1);
  width: 5%;
  height: 5px;
  position: absolute;
  bottom: -290px;
  left: 880px;
}



.seccionFooter{ /*todo el footer */
  align-items: center;
  background: rgba(250, 250, 250, 1);
  display: flex;
  height: 74px;
  justify-content: space-evenly;
  justify-content: flex-center;
  padding: 0 40px, 0, 40px;
  size: 14px;
  width: 1440px;
}

.fa-brands { /*iconos redes sociales */
  color:rgba(150, 187, 124, 1);
  font-size: 24px;
  text-align: center;
}
  
.iconosRedes {/*contenerdor iconos redes sociales */
  text-align: center;
}

 .imagen2 { /*icono whatsapp */
bottom: 20px;
position:fixed;
right: 1300px;
width: 5%;
}